@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 11% 98%; /* #F5F7FA */
  --foreground: 222 16% 12%; /* #1E293B */
  --muted: 214 13% 92%; /* #E2E8F0 */
  --muted-foreground: 215 16% 47%; /* #64748B */
  --popover: 0 0% 100%; /* #FFFFFF */
  --popover-foreground: 222 16% 12%; /* #1E293B */
  --border: 214 13% 92%; /* #E2E8F0 */
  --input: 214 13% 92%; /* #E2E8F0 */
  --card: 0 0% 100%; /* #FFFFFF */
  --card-foreground: 222 16% 12%; /* #1E293B */
  --primary: 221 83% 53%; /* #3B82F6 */
  --primary-foreground: 210 40% 98%; /* #F8FAFC */
  --secondary: 215 28% 95%; /* #F1F5F9 */
  --secondary-foreground: 222 16% 12%; /* #1E293B */
  --accent: 215 28% 95%; /* #F1F5F9 */
  --accent-foreground: 222 16% 12%; /* #1E293B */
  --destructive: 0 84% 60%; /* #EF4444 */
  --destructive-foreground: 210 40% 98%; /* #F8FAFC */
  --ring: 221 83% 53%; /* #3B82F6 */
  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%; /* #0F172A */
  --foreground: 213 31% 91%; /* #E2E8F0 */
  --muted: 223 47% 11%; /* #1E293B */
  --muted-foreground: 215 20% 65%; /* #94A3B8 */
  --accent: 216 34% 17%; /* #334155 */
  --accent-foreground: 210 40% 98%; /* #F8FAFC */
  --popover: 224 71% 4%; /* #0F172A */
  --popover-foreground: 215 20% 65%; /* #94A3B8 */
  --border: 216 34% 17%; /* #334155 */
  --input: 216 34% 17%; /* #334155 */
  --card: 224 71% 4%; /* #0F172A */
  --card-foreground: 213 31% 91%; /* #E2E8F0 */
  --primary: 210 40% 98%; /* #F8FAFC */
  --primary-foreground: 222 84% 5%; /* #0F172A */
  --secondary: 222 84% 5%; /* #0F172A */
  --secondary-foreground: 210 40% 98%; /* #F8FAFC */
  --destructive: 0 63% 31%; /* #7F1D1D */
  --destructive-foreground: 210 40% 98%; /* #F8FAFC */
  --ring: 216 34% 17%; /* #334155 */
  --radius: 0.5rem;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: "rlig" 1, "calt" 1;
}
